DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

LEGACY_DB_HOST=your-mysql-server-ip
LEGACY_DB_USER=your-mysql-user
LEGACY_DB_PASSWORD=your-mysql-password
LEGACY_DB_NAME=your-legacy-db-name